*{
	padding:0;
	margin:0;
}

.container{
	margin:20px;
}
.dot{
	display: inline-block;
	width:8px;
	height:8px;
	border-radius:50%;
	background:#ccc;
	animation:changebgColor 1s ease-in infinite;
	-webkit-animation: changebgColor 1s infinite;
    animation: changebgColor 1s infinite;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.container .dot:nth-child(2) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
.container .dot:nth-child(3) {
    -webkit-animation-delay: .8s;
    animation-delay:.8s;
}
.container .dot:nth-child(4) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}
@keyframes changebgColor{
	0% {
     opacity: .25; 
	}
	25% {
		 opacity: .35; 
	}
	50% {
		 opacity: .475; 
	}
	75% {
		 opacity: .5; 
	}
	100% {
		background: #fa647d;
		 opacity: .525; 
	}
}
